package roster

import (
	"rosterize/view/layout"
	"rosterize/model"
)

templ rosterpage(team model.Team) {
	<h1 class="text-center text-3xl font-bold">{ team.Name } Roster</h1>
	<div class="roster-container mt-10"></div>
	<div class="form-container mt-10">
		@form()
	</div>
}

templ Show(team model.Team, withBase bool) {
	if withBase {
		@layout.Base() {
			@rosterpage(team)
		}
	} else {
		@rosterpage(team)
	}
}
