package home 

import (
	"rosterize/model"
	"rosterize/view/layout"
)

templ home() {
}

templ Show(user model.User, withBase bool) {
	if withBase {
		@layout.Base() {
			@home()
		}
	}
    else {
        @home()
    }
}
