package home 

import (
	"rosterize/view/layout"
)

templ home() {
	<div class="roster-page-wrapper">
		<h1 class="text-center text-3xl font-bold">There's nothing to see here!</h1>
        <p class="text-center mt-5">This page isn't quite built out yet, but feel free to play around with the Roster to CSV page by clicking the link in the top right.</p>
	</div>
}

templ Show(withBase bool) {
	if withBase {
		@layout.Base() {
			@home()
		}
	}
    else {
        @home()
    }
}
